.users {
    color: white;
    margin: 4px 0px 4px 0px;
    cursor: pointer;
    height: 2rem;
    background-color: yellowgreen;
    border:2px solid yellow;
}
.twitter {
    height: 2rem;
    margin: 4px 0px 4px 0px;
    cursor: pointer;
    background-color: yellowgreen;
    border: 2px solid yellow;
    border-radius: 70%;
}