.main-container{
    display:flex;
    flex-direction: column;
    width:70vw;
    height:90vh;
    border: 1px solid red;
    margin:0 auto;
}
.nine-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:68vw;  
    height:10vh;
    margin: 10px;
}

.name-lists{
    display:flex;
    flex-direction: row;
    width:68vw;
    max-height: 20vh;
    margin: 10px;
    background-color: rgb(17, 105, 221);
}

.four-documents{
    display:flex;
    flex-direction: row;
    width:70vw; 
    height:60vh;
    flex-wrap: wrap;
    border: 1px solid red;
    
}

.contract{
    display:flex;
    width:33vw;
    border: 1px solid red;
    margin: 10px;
}

.absence{
    display:flex;
    width:33vw;
    border: 1px solid red;
    margin: 10px;
}

.payroll{
    display:flex;
    width:33vw;
    border: 1px solid red;
    margin: 10px;
}

.expenses{
    display:flex;
    width:33vw;
    border: 1px solid red;
    margin: 10px;
}