.main-container{
    display:flex;
    flex-direction: column;
    width:70vw;
    height:90vh;
    margin: 0 auto;

}
.nine-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:66vw;  
    height:10vh;
}

.name-lists{
    display:flex;
    flex-direction: row;
    width:66vw;
    max-height: 60vh;
    margin-bottom: 10px;
    border: 1px solid $primary-color;
    position: relative;
    border-radius: 5px;
}

.select-all-btn{
    height:2rem;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

#select-all{
    background-color: $primary-text;
    color:$primary-color;
}

.two-sections{
    display:flex;
    flex-direction: row;
    width:66vw; 
    
}

.download-section{
    display:flex;
    width:33vw;
    height:100%;
    background-color: $background-color;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right:10px;
    border: 1px solid $primary-color;
}

.buttons{
    display:flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 2rem;
    background-color: $background-color;
    color:$primary-color;
}

.icons{
    width: 40%;
    font-size: 6rem;
    text-align: center;
    color:$icons;
    margin: auto 0;
    padding-left: 1rem;
}


.select-1,.select-2{
    width: 10rem;
    height:2rem;
    background-color: $background-color;
    color:$primary-color;
    margin-bottom: 1rem;
}

.download-btn{

    background-color: $primary-color;
    color:$primary-text;
    border-radius: 10px;
    height:2rem;
    width:8rem;
}


button:hover{
        background-color: $primary-text;
        color:$primary-color;   
        border:1px solid $primary-color;  
}


.upload-section{
    display:flex;
    flex-direction: column;
    width:33vw;
    height:100%;
    background-color: $background-color;
    border-radius: 5px;
    border: 1px solid $primary-color;
}

.input-type{
    height:100%;
    width:10rem;
}

.submit-btn{
    height:100%;
    border-radius: 5px;
}

.tab-content{
    display: flex;
    flex-direction: column;
    height:100%;

}

.form-group{
    margin-bottom: 1rem;
}

.choose{
    margin-bottom: 1rem;
}

.upload-btn{
    background-color: $primary-color;
    color:$primary-text;
    border-radius: 10px;
    height:2rem;
    width:8rem;
    margin-bottom: 1rem;
}
.container {
    margin: auto auto auto 1rem;
}


