.main-container{
    display:flex;
    flex-direction: column;
    width:70vw;
    height:90vh;
    margin: 0 auto;

}
.nine-buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:66vw;  
    height:10vh;

}

.name-lists{
    display:flex;
    flex-direction: row;
    width:66vw;
    max-height: 60vh;
    margin-bottom: 10px;
    border: 1px solid $primary-color;
    position: relative;
}

.select-all-btn{
    height:2rem;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

#select-all{
    background-color: $primary-text;
    color:$primary-color;
}

.four-documents{
    display:flex;
    flex-direction: row;
    width:70vw; 
    height:60vh;
    flex-wrap: wrap;
    
}

.contract{
    display:flex;
    width:33vw;
    height:50%;
    background-color: $background-color;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right:10px;
}

.buttons{
    display:flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 2rem;
    background-color: $background-color;
    color:$primary-color;
}

.icons{
    width: 40%;
    font-size: 6rem;
    text-align: center;
    color:$icons;
    margin: auto 0;
}

h2{
    color:$primary-color;
    margin:0;
}

select{
    width: 10rem;
    margin-top:6px;
    background-color: $background-color;
    color:$primary-color;
}

button{
    margin-top:0.5rem;
    background-color: $primary-color;
    color:$primary-text;
    border-radius: 10px;
    height:1.5rem;
}

button:hover{
        background-color: $primary-text;
        color:$primary-color;   
}


.absence{
    display:flex;
    width:33vw;
    height:50%;
    background-color: $background-color;
    border-radius: 5px;
}

.CV{
    display:flex;
    width:33vw;
    height:50%;
    background-color:$background-color;
    border-radius: 5px;
    margin-right:10px;
}

.expenses{
    display:flex;
    width:33vw;
    height:50%;
    background-color: $background-color;
    border-radius: 5px;
}