.search {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    font-size: 18px;
    color:$primary-text;
    background-color: $primary-color;
    overflow-y: scroll;
    min-width:25%;
    
}

.userinfo {
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    padding:10px;
}

label {
    width: 20%;
    font-weight:550;
}

.name{
    margin-left: 10px;
    margin-right:10px;
    margin-top:10px;
    width:11rem;
}

.sel-all{
    width:80%;
    margin-top:10px;
    margin-left:20px;
}