.main-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 90vh;
  margin: 0 auto;
}

.nine-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 66vw;
  height: 10vh;
}

.name-lists {
  display: flex;
  flex-direction: row;
  width: 66vw;
  max-height: 60vh;
  margin-bottom: 10px;
  border: 1px solid #243544;
  position: relative;
}

.select-all-btn {
  height: 2rem;
  position: absolute;
  right: 20px;
  bottom: 30px;
}

#select-all {
  background-color: #f2eff2;
  color: #243544;
}

.four-documents {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 60vh;
  flex-wrap: wrap;
}

.contract {
  display: flex;
  width: 33vw;
  height: 50%;
  background-color: #f0f4f7;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 2rem;
  background-color: #f0f4f7;
  color: #243544;
}

.icons {
  width: 40%;
  font-size: 6rem;
  text-align: center;
  color: #3ba360;
  margin: auto 0;
}

h2 {
  color: #243544;
  margin: 0;
}

select {
  width: 10rem;
  margin-top: 6px;
  background-color: #f0f4f7;
  color: #243544;
}

button {
  margin-top: 0.5rem;
  background-color: #243544;
  color: #f2eff2;
  border-radius: 10px;
  height: 1.5rem;
}

button:hover {
  background-color: #f2eff2;
  color: #243544;
}

.absence {
  display: flex;
  width: 33vw;
  height: 50%;
  background-color: #f0f4f7;
  border-radius: 5px;
}

.CV {
  display: flex;
  width: 33vw;
  height: 50%;
  background-color: #f0f4f7;
  border-radius: 5px;
  margin-right: 10px;
}

.expenses {
  display: flex;
  width: 33vw;
  height: 50%;
  background-color: #f0f4f7;
  border-radius: 5px;
}

.users {
  margin: 4px 0px 4px 0px;
  cursor: pointer;
  height: 2rem;
  width: 7rem;
  border: 1px solid #243544;
}

.twitter {
  height: 2rem;
  margin: 4px 0px 4px 0px;
  cursor: pointer;
  background-color: #3ba360;
  border: 2px solid #3ba360;
  border-radius: 70%;
}

.fa-facebook {
  position: relative;
  font-size: 1.5rem;
  color: #243544;
  margin: 6px 0;
}

.fa-facebook:hover .tooltiptext {
  visibility: visible;
}

.fa-twitter-square:hover .tooltiptext {
  visibility: visible;
}

.fa-envelope:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  width: 4rem;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 15px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -10px;
}

.fa-twitter-square {
  position: relative;
  font-size: 1.5rem;
  color: #243544;
  margin: 6px 0;
}

.fa-envelope {
  position: relative;
  font-size: 1.5rem;
  color: #243544;
  margin: 6px 0;
}

.search {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  font-size: 18px;
  color: #f2eff2;
  background-color: #243544;
}

.userinfo {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

label {
  width: 20%;
  font-weight: 550;
}

.name {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

/*# sourceMappingURL=main.css.map */
